<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <p>Images size is <%= images_size %></p>

    <% for (var i = 0; i < images_size;  i++ ) { %>
      <img src="<%= images[i] %>" loading=lazy width="500" height="500">
    <% } %>
  </body>
</html>
